<app-loader *ngIf="!loaded"></app-loader>
<div class="container" *ngIf="loaded">
    <h3 style="text-align: center;">Photos for albulm: {{albulmid}}</h3>
    <p style="text-align: center;">Found {{photosList.length}} Photos</p>
    <div class="center-align">
        <button mat-button (click)="goBack()">Back to Albulms</button>
    </div>
    <div class="main">
        <div class="grid-1" *ngFor="let photo of photosList">
            <a href="/photos/{{photo.id}}" class="list-button">
                <mat-card class="list-card">
                    <h5 style="height: 100px;">{{photo.title}}</h5>
                    <img [src]="photo.thumbnailUrl" style="width: 50%; margin-right: auto; margin-left: auto;"/>
                </mat-card>
            </a>
        </div>
    </div>
    
</div>
