.container{
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.center-align{
    text-align: center;
}
.list-card{
    display: block;
    margin: 10px;
}
.list-card:hover{
    background-color: #cfd8dc;
    color: #212121;
}
.list-button{
    text-decoration: none;
}
.grid-1{
    display: block;
    width: 25%;
    float: left;
}


.main{
    display:block;
    width: 100%;
}