.container{
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.container img {
    width: 50%;
    display: block; 
    margin-right: auto; 
    margin-left: auto;
}
.center-align{
    text-align: center;
}