<app-image-viewer [imageURL]="photo.url" [open]="viewerOpen" (close)="viewerOpen = false"></app-image-viewer>
<app-loader *ngIf="!loaded"></app-loader>
<div class="container" *ngIf="loaded">
    <div class="center-align">
        <h3>Photos</h3>
        <button mat-button (click)="goBack()">Back to Albulm Details</button>
    </div>
    <img (click)="viewerOpen = true" [src]="photo.url"/>
</div>
