.container{
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.list-card{
    margin: 10px;
}

.list-card:hover{
    background-color: #cfd8dc;
    color: #212121;
}
.list-button{
    text-decoration: none;
}