<app-loader *ngIf="!loaded"></app-loader>
<div class="container" *ngIf="loaded">
    <h3 style="text-align: center;">Users</h3>
    <p style="text-align: center;">Found {{usersList.length}} Users</p>
    <div class="" *ngFor="let user of usersList">
        <a href="/albulms/{{user.id}}" class="list-button">
            <mat-card  class="list-card">
                <h4>{{user.username}}</h4>
                <h5>{{user.email}} | <small> Company: {{user.company.name}}</small> | <small>Phone: {{user.phone}}</small></h5>
                <p style="font-size: 12px"><B>Address: </B> <span>{{user.address.suite}}</span> | <span>Street # {{user.address.street}}</span><span>, {{user.address.city}}</span></p>
                <p>{{user.website}}</p>
            </mat-card>
        </a>
    </div>
</div>
