<app-loader *ngIf="!loaded"></app-loader>
<div class="container" *ngIf="loaded">
    <h3 style="text-align: center;">Albulms for user: {{userid}}</h3>
    <p style="text-align: center;">Found {{albulmList.length}} Albumns</p>
    <div class="center-align">
        <button mat-button (click)="goBack()">Back to Users</button>
    </div>
    <div class="" *ngFor="let albulm of albulmList">
        <a href="/albulm-details/{{albulm.id}}" class="list-button">
            <mat-card class="list-card">
                <h4>{{albulm.title}}</h4>
                <div class="photoThumbs" style="width: 100%; display:block;">
                    <div class="grid-1" *ngFor="let photo of albulm.photos">
                        <img [src]="photo" style="width: 90%; margin-right: auto; margin-left: auto;"/>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </mat-card>
        </a>
    </div>
</div>
